* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 5px;
    text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* css reset ends */


header,
footer {
    padding: 15px;
    background: lightgray;

}

.searchBar {
    padding: 5px;
    border-radius: 10px;
    float: left;
    margin-left: 20px;
    width: 200px;
    font-size: 17px;
}

#Search span {
    float: right;
    font-size: 20px;
    margin-top: 8px;
}

#img {
    float: right;
    /*
    width: 30px;
    height: 30px;
*/
    margin-left: 10px;
    border: 1px solid black;
}

#Search {
    content: "";
    clear: both;
    display: table;
    width: 100%
}

/* styles for the main content starts */
/*Adding Flexbox*/

.main {
    display: flex;
    margin: 5px 0px;
}

/*Flexbox ends*/

section {
    flex-basis: 65%;
    /*
    float: left;
    height: 400px;
*/
    display: flex;
    background: grey;
    justify-content: center;
}

#container {
    /*    text-align: center;*/
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

.descHeader {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.messageContainer button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

.messageContainer button:hover {
    background-color: white;
}

.descBody {
    flex: 1;
    display: flex;
    align-items: center;
}

.dataTable {
    flex: 1;
}

.dataTable table {
    width: 100%;
    border-collapse: collapse;

}

.dataTable td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.dataTable tr:nth-child(even) {
    background-color: lightgray;
}

/* Side bar styles */
.contactList {
    flex-basis: 35%;
    /*
    float: left;
    height: 400px;
*/
    background: whitesmoke;
    display: flex;
    flex-direction: column;
}

.list {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 2px;
    padding: 5px;
}

.list:hover {
    background: lightgray;
    cursor: pointer;
}

/*  sidebar ends */



/*
.main{
    margin: 5px 0px;
}

.main::after{
    content: "";
    clear: both;
    display: table;
}
*/

/* styles for the main content ends */
